/* NavTabs Section */

#header {
  display:flex;
  font-family: 'Times New Roman', Times, serif;
  color: #c7cedb   ;
  font-size: 58px;
  background-image: linear-gradient(to right,#2e3532 , #94849b);
  margin-bottom: -7.35%;
  margin-top: -0.3%;
margin-left:-0.3%;
margin-right: -0.36%;
}

.nav-tabs {
  display:flex;
  font-size:xx-large;
  position:relative;
  margin-top: 10%;
  margin-left:0%; 
}
.nav-item-about {
  display: inline-flex;
  margin-top: -5%;
  margin-left: 59%;
}

.nav-item-portfolio {
  display: inline-flex;
  margin-top: -5%;
  margin-left: 5%;
}
.nav-item-resume {
  display: inline-flex;
  margin-top: -5%;
  margin-left: 5%;
}

/* About Me Section */

#aboutBackground {
background-color:#071013 ;
}

#myPersonality{
  color: #dfe0e2;

}
#Shubham {
  max-width: 102%;
 margin-top: -4.4%;
  margin-left: -0.3%;
}

#me {
display:inline-flex;
position:relative;
  max-width: 15%;
margin-top: -110%;
margin-bottom:20;
z-index:1;
}

/* Portfolio Section */


/* .card-body{

}

.Weath-Dash {
max-width: 50%;
}

.WD_port {

}

.WD_App {

}

.PasswordGen {

}

.PW_port {

}

.PW_App {

}

.WorkDay {

}

.WDS_port {

}

.WDS_App {

}

.Conspiracy {

}

.CQ_port {

}

.CQ_App {

}

.QuoteOfDay {

}

.QD_port {

}

.QD_App {

}

.Event_Lister {

}

.EL_port {

}

.ET_App {

} */

/* Footer Section */

#footerss {
background-color: #071013;
margin-top:-1.1%;
margin-left:-1%
}

#github {
font-size: 600%;
margin-left: 40%;
}

#linkedin {
font-size: 600%;
margin-left: 3%;
}

#X {
font-size: 600%;
margin-left: 4%;
}